################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POS1/FileContentIndex/daedca89-6378-4f3e-999a-1526c420a251.vsidx
/.gitignore
/.gitignore
/.gitignore
