<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form" method="post" asp-area="security" asp-controller="home" asp-action="verify">
            <div class="mb-5">
                <h1 class="text-center">BILLER Security</h1>
                <h6 class="text-center">Parollarni boshqarish tizimi</h6>
            </div>
            <div class="mb-3" style="width: 80%; margin: 20px auto;">
                <h3 style="text-align: center; color: green;">Ma'lumotlar muvofaqqiyatli saqlandi✅</h3>
            </div>
            <br />
        </form>
    </div>
</div>